.ubc-wp-vote__facetwp-filters{
    padding: 2rem 1rem;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}

.facet-wrap{
    display: inline-block;
}

.facetwp-facet select, .facetwp-facet input, .facetwp-sort select{
    width: 100%;
    box-sizing: border-box;
    height:35px;
}

.facetwp-facet {
    margin-bottom: 0 !important;
}

.facetwp-facet .hidden{
    display: none;
}

.facetwp-pager{
    text-align: center;
}

.facetwp-search{
    margin-bottom: 0 !important;
    border-radius: 5px !important;
}

.facetwp-template__single{
    display: grid;
    grid-template-columns: 1fr;
    border-width: 4px;
    border-style: solid;
    border-color: var(--ubcpostborder, #f1f1f1);
    min-height: 150px;
    margin-bottom: 2rem;
}

.facetwp-template__single >div{
    padding: 1rem 2rem;
}

.facetwp-template__single h2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.facetwp-template__single--status{
    order: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 25px);
}

.facetwp-template__single--status >div{
    margin-top: 8px;
}

.facetwp-template__single--status .dashicons{
    opacity: .5;
}

.facetwp-template__single--status .dashicons-admin-comments{
    line-height: 24px;
}

.facetwp-template__single--content{
    order: 1;

}

.facetwp-template__single--status table{
    margin-top: 12px;
}

.facetwp-template__single--status table td:first-child{
    width: 25px;
}

@media only screen and (min-width: 480px) {
    .facetwp-template__single{
        grid-template-columns: 80px 1fr;
    }
    .facetwp-template__single >div{
        padding: 2rem;
    }
    .facetwp-template__single .facetwp-template__single--status{
        order: 1;
        padding-right: 0;
    }
    
    .facetwp-template__single--content{
        order: 2;
    }
}