/** Filters **/
.ubc-wp-vote__facetwp-filters{
    padding: 2rem 1rem;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}

.facet-template__toggle, .facet-template__filter-close{
    display: none;
}

.facet-wrap{
    display: inline-block;
}

.facetwp-facet select, .facetwp-facet input, .facetwp-sort select{
    width: 100%;
    box-sizing: border-box;
    height:35px;
}

.facetwp-facet .hidden{
    display: none;
}

.facetwp-pager{
    text-align: center;
}

.facetwp-search{
    margin-bottom: 0 !important;
    border-radius: 5px !important;
}

/** Template **/
.facetwp-template__single{
    display: grid;
    border-width: 4px;
    border-style: solid;
    border-color: var(--ubcpostborder, #f1f1f1);
    padding: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: 80px 1fr auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-areas:
        "overview title"
        "overview meta"
        "content content";
}

.facetwp-template__single--overview{
    grid-area: overview;
}

.facetwp-template__single--status{
    order: 2;
    display: grid;
    grid-template-columns: repeat(2, 25px);
    grid-template-rows: repeat(2, 25px);
    justify-items: center;
}

.facetwp-template__single--title{
    grid-area: title;
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.facetwp-template__single--meta{
    grid-area: meta;
    font-size: .8rem;
    line-height: 1.5;
}

.facetwp-template__single--content{
    grid-area: content;
}

.facetwp-template__single--feature{
    grid-area: feature;
    display: none;
}

.facetwp-template__single--avatar > img{
    border-radius: 50%;
    margin-bottom: .5rem;
    width: 60px;
}

.facetwp-template__single--status .dashicons{
    opacity: .5;
}

.facetwp-template__single--status .dashicons-admin-comments{
    line-height: 24px;
}

.facetwp-template__single--readmore{
    margin-top: .5rem;
}

.dashicons-admin-comments:before {
    content: "\f101";
}

.dashicons-star-filled:before {
    content: "\f155";
}

@media only screen and (min-width: 768px) {
    .facetwp-template__single{
        display: grid;
        border-width: 4px;
        border-style: solid;
        border-color: var(--ubcpostborder, #f1f1f1);
        padding: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: 80px 1fr auto;
        grid-template-rows: auto;
        grid-gap: 1rem;
        gap: 1rem;
        grid-template-areas:
            "overview title feature"
            "overview meta feature"
            "overview content feature";
    }

    .facetwp-template__single--title{
        font-size: 1.7rem;
        line-height: 1.5;
    }

    .facetwp-template__single--feature{
        display: block;
    }

    .facetwp-facet {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .ubc-wp-vote__facetwp-filters{
        position: fixed;
        left: -100vw;
        top: 0;
        width: 100%;
        height: 100vh;
        max-width: 60vw;
        z-index: 99;
        transition: left .3s ease-in 0s;
    }

    .ubc-wp-vote__facetwp-filters .wp-block-columns {
        margin-bottom: 0;
    }

    .ubc-wp-vote__facetwp-filters select, .ubc-wp-vote__facetwp-filters input, .ubc-wp-vote__facetwp-filters p {
        font-size: 16px;
    }

    .ubc-wp-vote__facetwp-filters.show{
        left: 0;
        z-index: 99;
    }

    .facet-template__toggle{
        display: block;
        margin-bottom: 1rem;
    }

    .facet-template__filter-close{
        display: block;
        margin-top: 1rem;
        font-size: 16px;
    }

    .facet-template__toggle.fixed{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: #f4f4f4;
        padding: 1rem;
        z-index: 98;
    }

    .facetwp-facet, .facetwp-sort{
        margin-bottom: .5rem !important;
    }

    .truncate-overflow {
        --max-lines: 3;
        --lh: 1.4rem;
        position: relative;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
        padding-right: 1rem; /* space for ellipsis */
    }
    .truncate-overflow::before {
        position: absolute;
        content: "...";
        inset-block-end: 0; /* "bottom" */
        inset-inline-end: 0; /* "right" */
    }
    .truncate-overflow::after {
        content: "";
        position: absolute;
        inset-inline-end: 0; /* "right" */
        width: 1rem;
        height: 1rem;
        background: white;
    }
}