/** Filters **/
.ubc-wp-vote__facetwp-filters{
    padding: 2rem 1rem;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}

.facet-wrap{
    display: inline-block;
}

.facetwp-facet select, .facetwp-facet input, .facetwp-sort select{
    width: 100%;
    box-sizing: border-box;
    height:35px;
}

.facetwp-facet {
    margin-bottom: 0 !important;
}

.facetwp-facet .hidden{
    display: none;
}

.facetwp-pager{
    text-align: center;
}

.facetwp-search{
    margin-bottom: 0 !important;
    border-radius: 5px !important;
}

/** Template **/
.facetwp-template__single{
    display: grid;
    border-width: 4px;
    border-style: solid;
    border-color: var(--ubcpostborder, #f1f1f1);
    padding: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 80px 1fr auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-areas:
        "overview title"
        "overview meta"
        "content content"
        "feature feature";
}

.ubc-wp-vote__facet-category{
    background: none;
    border: 0;
    padding: 0;
}

.facetwp-template__single--overview{
    grid-area: overview;
}

.facetwp-template__single--status{
    order: 2;
    display: grid;
    grid-template-columns: repeat(2, 25px);
    grid-template-rows: repeat(2, 25px);
    justify-items: center;
}

.facetwp-template__single--title{
    grid-area: title;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.facetwp-template__single--meta{
    grid-area: meta;
}

.facetwp-template__single--content{
    grid-area: content;
}

.facetwp-template__single--feature{
    grid-area: feature;
}

.facetwp-template__single--avatar > img{
    border-radius: 50%;
    margin-bottom: .5rem;
    width: 60px;
}

.facetwp-template__single--status .dashicons{
    opacity: .5;
}

.facetwp-template__single--status .dashicons-admin-comments{
    line-height: 24px;
}

.facetwp-template__single--readmore{
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .facetwp-template__single{
        display: grid;
        border-width: 4px;
        border-style: solid;
        border-color: var(--ubcpostborder, #f1f1f1);
        padding: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: 80px 1fr auto;
        grid-template-rows: auto;
        grid-gap: 1rem;
        gap: 1rem;
        grid-template-areas:
            "overview title feature"
            "overview meta feature"
            "overview content feature";
    }

    .facetwp-template__single--title{
        font-size: 1.7rem;
        line-height: 1.5;
    }
}