.ubc-wp-vote-metabox{
    margin: 1rem 0;
}

.ubc-wp-vote-metabox li{
    display: flex;
    align-items: center;
}

.ubc-wp-vote-metabox li input[type=checkbox]{
    margin-top: 0;
    margin-bottom: 0;
}